<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.newuserkk.naukatesting">

    <application
            android:name=".TimesheetApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".presentation.view.role.SelectRoleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.view.timekeeper.TimekeeperCalendarActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".presentation.view.timekeeper.TimekeeperListActivity"
                android:label="@string/title_activity_timekeeper_detail"
                android:parentActivityName=".presentation.view.timekeeper.TimekeeperCalendarActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ru.newuserkk.naukatesting.presentation.view.timekeeper.TimekeeperCalendarActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.department.DepartmentListActivity"
                android:label="@string/title_activity_department"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".presentation.view.department.DepartmentAddActivity"
                android:parentActivityName=".presentation.view.department.DepartmentListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ru.newuserkk.naukatesting.presentation.view.department.DepartmentListActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.employee.EmployeeListActivity"
                android:label="@string/title_activity_employee_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".presentation.view.employee.EmployeeAddActivity"
                android:parentActivityName=".presentation.view.employee.EmployeeListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ru.newuserkk.naukatesting.presentation.view.employee.EmployeeListActivity"/>
        </activity>
        <activity android:name=".presentation.view.timekeeper.TimekeeperAddActivity">
        </activity>
    </application>

</manifest>